# Exploring and Cleaning the Products Data:

Import relevant packages:

In [19]:
import pandas as pd
import numpy as np
from collections import Counter
import copy 
import statistics
from collections import defaultdict
from geopy.geocoders import Nominatim
import random
from typing import List, Tuple, Optional

Read in Data:

In [2]:
products = pd.read_csv('../Raw_Data/products.csv', lineterminator='\n')

##### Exploring Data:

In [3]:
products.head()

,id,product_name,category,product_description,price,location,page_id,create_time
0,ac2140ae-f0d5-4fe7-ac08-df0f109fd734,"Second-Hand Sofas, Couches & Armchairs for Sal...",NaN,NaN,NaN,NaN,1426592234,2022-02-26
1,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire",1426704584,2022-02-26
2,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,£20.00,"Inverness, Highland",1426704579,2022-02-26
3,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,£20.00,"Skegness, Lincolnshire",1426704576,2022-02-26
4,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset",1426704575,2022-02-26

In [4]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8091 entries, 0 to 8090
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   8091 non-null   object
 1   product_name         8091 non-null   object
 2   category             7156 non-null   object
 3   product_description  7156 non-null   object
 4   price                7156 non-null   object
 5   location             7156 non-null   object
 6   page_id              8091 non-null   int64
 7   create_time          8091 non-null   object
dtypes: int64(1), object(7)
memory usage: 505.8+ KB

Plans/Immediate Observations:

- Drop rows where any entry is null. On first glance, the Category, Price, Location and Product Description are the useful pieces of information. (Will be the features)
- Price altered into an a float32. (Float32 as Pytorch works with Float32)
- Could split location into 2 columns: Town and County/City. 
- The "category" field can be split by forward slashes as a product can be included in multiple categories. 
- Transform this notebook into a script so when new data is streamed in, can be cleaned easily.

In [5]:
products_copy = copy.deepcopy(products)
products = products.loc[products.isna().sum(axis=1) == 0]
products.reset_index(inplace=True)

In [6]:
products.shape

(7156, 9)

In [7]:
products.head(5)

,index,id,product_name,category,product_description,price,location,page_id,create_time
0,1,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire",1426704584,2022-02-26
1,2,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,£20.00,"Inverness, Highland",1426704579,2022-02-26
2,3,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,£20.00,"Skegness, Lincolnshire",1426704576,2022-02-26
3,4,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset",1426704575,2022-02-26
4,5,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,£450.00,"Delph, Manchester",1426704570,2022-02-26

### Fixing Prices:

Will use regular expressions to extract the price but we should also check that all the prices are in the same currency.

In [8]:
price_pattern = r'([0-9]*,?[0-9]+)'
products['cleaned_price'] = products['price'].str.extract(price_pattern, expand=True)
products['cleaned_price'] = products['cleaned_price'].str.replace(',','')

In [9]:
products['cleaned_price'] = products['cleaned_price'].astype(np.float32)

In [10]:
currencies = set(products['price'].str[0])
products.head()

,index,id,product_name,category,product_description,price,location,page_id,create_time,cleaned_price
0,1,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire",1426704584,2022-02-26,5.0
1,2,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,£20.00,"Inverness, Highland",1426704579,2022-02-26,20.0
2,3,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,£20.00,"Skegness, Lincolnshire",1426704576,2022-02-26,20.0
3,4,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset",1426704575,2022-02-26,115.0
4,5,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,£450.00,"Delph, Manchester",1426704570,2022-02-26,450.0

In [12]:
print(currencies)

{'£'}

All in pounds so need to do anything further.

In [18]:
products['price'].describe()

count      7156.000000
mean        358.831604
std        5392.854492
min           0.000000
25%          10.000000
50%          40.000000
75%         150.000000
max      399900.000000
Name: price, dtype: float64

Based on this: 

- Notice that the price is positively skewed. 
- May need to drop outlier rows where price is 0 and price is extremely high. However will leave for now.

### Extracting Features from Product Descriptions:

In [13]:
products_descriptions = products['product_name']

Generate some random numbers to preview what the rows in our product descriptions look like.

In [24]:
rand_10 = random.sample(range(0,products.shape[0]-1), 10)

In [27]:
sampled_data = products_descriptions[rand_10]
sampled_data

3766    Weightwatchers and slimming world cook books |...
4675    Toshiba Tecra A40 laptop SSD 16gb ram Intel Co...
3805    Jefferson airplane cds 2 | in Paisley, Renfrew...
7015    PS4 Games/Headset | in Radstock, Somerset | Gu...
93      February Sale offer Divan bed with mattress av...
179     Wall and Floor Tiles | in Sunderland, Tyne and...
1574    Poelman Trainers, worn once V.G.C | in York, N...
4041    Pulp Fiction, Tarantino, Polish Poster Framed ...
3095    Wren kitchen door handles | in Kirkmuirhill, S...
2104    SILVER USA 1943 Jefferson Wartime 'Nickel' coi...
Name: product_name, dtype: object

Based on this, seems like the text after the first pipe (vertical line |) relates to the location and hence is irrelevant as we have a location column. So we split on this pipe to extract the actual product description.

Location: Can split based on ",". Whether I use location as features is unclear. Depends upon sample sizes for each town and city.

In [19]:
location_info = products['location'].str.split(',', expand=True)
location_info.columns = ['Town', 'City']
town_counter, city_counter = Counter(location_info['Town']), Counter(location_info['City'])

In [20]:
location_info.head()

        Town           City
0  Wokingham      Berkshire
1  Inverness       Highland
2   Skegness   Lincolnshire
3   Radstock       Somerset
4      Delph     Manchester

Do some analysis on distribution of counts for each town/city to determine whether either column is suitable. Will use median as a representation of sample sizes in each category. Median less prone to extremes.

In [21]:
print(town_counter.most_common(5))
print(city_counter.most_common(5))
print(statistics.median(town_counter.values()))
print(statistics.median(city_counter.values()))

[('Southampton', 155), ('Downend', 108), ('Leicester', 89), ('Norwich', 83), ('Croydon', 76)]
[(' London', 1128), (' West Midlands', 381), (' Hampshire', 323), (' Manchester', 280), (None, 255)]
2
34

Using one hot encoding for categories with many levels, can lead to large dimensionality within our data. We know that this leads to needing more computational power. Note of things we can do: 

- Use only most frequent categories. Take top 'x', where x can be determined by a frequency distribution. ie: take the top 'x' such that 80% of the data is accounted for. 
- Use a "Frequency Counts" method, involves replacing the category with its frequency. Negatives of this is that categories with similar counts will be treated alike, so may lose information. 
- Location data can be encoded using longitude and lattitude.

Cleaning Location Data: Will use longitude/lattitude to encode location:

In [22]:
location_encoding = pd.DataFrame(products['location'])
location_encoding.head()

                 location
0    Wokingham, Berkshire
1     Inverness, Highland
2  Skegness, Lincolnshire
3      Radstock, Somerset
4       Delph, Manchester

Testing extracting longitude and latitude from location.

In [23]:
geolocator = Nominatim(user_agent='my_user_agent')
loc_1 = location_encoding.iloc[1,0]
loc = geolocator.geocode(loc_1)
print(loc_1)
print(loc.latitude)
print(loc.longitude)

Inverness, Highland
57.4790124
-4.225739

In [24]:
def _location_extractor(x : str) -> Tuple[float, float]:
    try:
        coords = geolocator.geocode(x)
        longitude, lattitude = coords.longitude, coords.latitude
        return longitude, lattitude
    except:
        return np.nan, np.nan

In [19]:
products['longitude'], products['latitude'] = list(zip(*products['location'].apply(_location_extractor)))

In [25]:
products.head()

,index,id,product_name,category,product_description,price,location,page_id,create_time
0,1,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",5.0,"Wokingham, Berkshire",1426704584,2022-02-26
1,2,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,20.0,"Inverness, Highland",1426704579,2022-02-26
2,3,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,20.0,"Skegness, Lincolnshire",1426704576,2022-02-26
3,4,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,115.0,"Radstock, Somerset",1426704575,2022-02-26
4,5,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,450.0,"Delph, Manchester",1426704570,2022-02-26

Expanding Categories: We notice that following each forward slash there's another category. We'd like the output dataset to be a one hot encoding over all these categories.

Lets start by extracting the different categories:

In [26]:
unclean_categories = set(products['category'])

In [27]:
print(len(unclean_categories))
category_dict = {}

435

In [32]:
min_categories = np.inf
for i in unclean_categories:
    a = i.split(r'/')
    major_cat, minor_cat = a[0], a[-1]
    num_categories = len(a)
    if num_categories < min_categories:
        min_categories = num_categories
    for category in [major_cat, minor_cat]:
        if category in category_dict.keys():
            category_dict[category] += 1
        else:
            category_dict[category] = 1

In [38]:
def _category_splitter(x : str) -> Tuple[str, str]:
    category_list = x.split(r'/')
    major_cat, minor_cat = category_list[0], category_list[-1]
    return major_cat, minor_cat

In [39]:
products['major_category'], products['minor_category'] = list(zip(*products['category'].apply(_category_splitter)))

In [45]:
products.head()

,index,id,product_name,category,product_description,price,location,page_id,create_time,Minor Category,major_category,minor_category
0,1,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",5.0,"Wokingham, Berkshire",1426704584,2022-02-26,"Dining, Living Room Furniture",Home & Garden,"Mirrors, Clocks & Ornaments"
1,2,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,20.0,"Inverness, Highland",1426704579,2022-02-26,Other Household Goods,Home & Garden,Other Household Goods
2,3,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,20.0,"Skegness, Lincolnshire",1426704576,2022-02-26,Garden & Patio,Home & Garden,Outdoor Settings & Furniture
3,4,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,115.0,"Radstock, Somerset",1426704575,2022-02-26,"Dining, Living Room Furniture",Home & Garden,Other
4,5,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,450.0,"Delph, Manchester",1426704570,2022-02-26,"Dining, Living Room Furniture",Home & Garden,Private